<app-create-quiz>
    <form class="py-5" [formGroup]="quizInfoForm" (ngSubmit)="onSave()">
        <h1 class="text-center mb-4">Create a New Quiz</h1>
        <div class="row my-3">
            <div class="col">
                <label for="quizNameId" class="form-label">Quiz Name<span class="text-primary">*</span></label>
                <input class="form-control" id="quizNameId" formControlName="name"
                    [ngClass]="{ 'is-invalid': infoFormSubmitted && f['name'].errors }">
                <div *ngIf="infoFormSubmitted && f['name'].errors" class="invalid-feedback">
                    <ng-container *ngIf="f['name'].errors['required']">Field is required</ng-container>
                </div>
            </div>
            <div class="col">
                <label for="quizSlugId" class="form-label">Slug<span class="text-primary">*</span></label>
                <input class="form-control" id="quizSlugId" formControlName="slug"
                    [ngClass]="{ 'is-invalid': infoFormSubmitted && f['slug'].errors }">
                <div *ngIf="infoFormSubmitted && f['slug'].errors" class="invalid-feedback">
                    <ng-container *ngIf="f['slug'].errors['required']">Field is required</ng-container>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <label for="quizDescriptionId" class="form-label">Description</label>
                <input class="form-control" id="quizDescriptionId" formControlName="description"
                    [ngClass]="{ 'is-invalid': infoFormSubmitted && f['description'].errors }">
                <div *ngIf="infoFormSubmitted && f['description'].errors" class="invalid-feedback">
                    <ng-container *ngIf="f['description'].errors['maxLength']">Description must not exceed 250
                        characters</ng-container>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <label for="quizPassingScoreId" class="form-label">Passing Score<span
                        class="text-primary">*</span></label>
                <input class="form-control" id="quizPassingScoreId" formControlName="passingScore"
                    [ngClass]="{ 'is-invalid': infoFormSubmitted && f['passingScore'].errors }">
                <div *ngIf="infoFormSubmitted && f['passingScore'].errors" class="invalid-feedback">
                    <ng-container *ngIf="f['passingScore'].errors['required']">Field is required</ng-container>
                    <ng-container *ngIf="f['passingScore'].errors['pattern']">Passing Score must be a postive
                        numerical
                        value</ng-container>
                </div>
            </div>
            <div class="col">
                <label for="quizShowCorrectId" class="form-check-label me-3">Show Correct Answers?</label>
                <input class="form-check-input" type="checkbox" id="quizShowCorrectId" [ngModel]="false"
                    formControlName="showCorrect">
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <label for="quizMsgSId" class="form-label">Message on Success<span class="text-primary">*</span></label>
                <input class="form-control" id="quizMsgSId" formControlName="msgSuccess"
                    [ngClass]="{ 'is-invalid': infoFormSubmitted && f['msgSuccess'].errors }">
                <div *ngIf="infoFormSubmitted && f['msgSuccess'].errors" class="invalid-feedback">
                    <ng-container *ngIf="f['msgSuccess'].errors['required']">Field is required</ng-container>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <label for="quizMsgFId" class="form-label">Message on Failure<span class="text-primary">*</span></label>
                <input class="form-control" id="quizMsgFId" formControlName="msgFailure"
                    [ngClass]="{ 'is-invalid': infoFormSubmitted && f['msgFailure'].errors }">
                <div *ngIf="infoFormSubmitted && f['msgFailure'].errors" class="invalid-feedback">
                    <ng-container *ngIf="f['msgFailure'].errors['required']">Field is required</ng-container>
                </div>
            </div>
        </div>


        <div class="row my-4">
            <div class="form-text">
                Fields marked with a <span class="text-primary">*</span> are required.
            </div>
        </div>

        <div class="row my-4">
            <div>
                <button type="button" class="btn btn-custom w-100" (click)="onSave()">Save Quiz Information</button>
            </div>
        </div>
    </form>
</app-create-quiz>