$colour-red: #e24949;
$colour-purple: #473144;
$colour-orange: #e79056;
$colour-sunglow: #ffc848;
$colour-green: #a7dcd1;
$colour-green-light: #d5f0ea;
$colour-orange-light: #ffe6d6;
$colour-dark: #222222;
$colour-light: #ffffff;