<app-main-layout [isCentered]="true">
    <div class="container py-4">
        <div class="row mb-4">
            <div class="col-md-10 offset-md-1 d-flex flex-column align-items-center text-center">
                <div>
                    <img src="assets/images/home.jpg" style="width:300px;" alt="Welcome" />
                </div>
                <div>
                    <ng-container *ngIf="isSignedIn; else welcomeOther">
                        <h1>Welcome Back!</h1>
                        <ng-container *ngIf="role == 1; else student"> <!-- 1 is a TEACHER role -->
                            <h5 class="py-3 text-grey">Why don't you go ahead and add a new quiz?</h5>
                            <button class="btn btn-custom" style="width: 200px" [routerLink]="'/create-quiz'">
                                Add a new quiz
                            </button>
                        </ng-container>
                        <ng-template #student>
                            <h5 class="py-3 text-grey">Ready to start answering some quizzes?</h5>
                            <button class="btn btn-custom" style="width: 200px" [routerLink]="'/explore'">
                                Explore Quizzes
                            </button>
                        </ng-template>
                    </ng-container>

                    <ng-template #welcomeOther>
                        <h1>Welcome to Inquizit!</h1>
                        <h5 class="py-3 text-grey">Log in to start exploring.</h5>
                        <button class="btn btn-custom" style="width: 200px" [routerLink]="'/login'">
                            Log In
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</app-main-layout>