<app-create-quiz>
    <div class="container py-5">
        <div class="row text-center mb-4">
            <h1 class="mb-4">Quiz Breakdown</h1>
        </div>

        <ng-container *ngIf="quiz.info != undefined; else noquiz">
            <div class="row my-3">
                <div>
                    <button type="button" class="btn btn-custom w-100" (click)="onSubmit()">Submit Quiz</button>
                </div>
            </div>
            <div class="row text-center mb-3">
                <ngb-alert class="alert alert-primary py-3" *ngIf="submitClicked && !isSaved && error.length > 0" (close)="isAlertClosed = true">
                    {{error}}
                </ngb-alert>
                <ngb-alert class="alert alert-neutral py-3" *ngIf="isSaved" [dismissible]="false">
                    Your quiz has been saved.
                </ngb-alert>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="mt-2">Quiz Details</h4>
                </div>
                <div class="card-body">
                    <div class="row py-2">
                        <div class="col-3">
                            <strong>Name:</strong>
                        </div>
                        <div class="col-9">
                            {{quiz.info.name}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <strong>Slug:</strong>
                        </div>
                        <div class="col-9">
                            {{quiz.info.slug}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <strong>Description:</strong>
                        </div>
                        <div class="col-9">
                            {{quiz.info.description}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <strong>Passing Score:</strong>
                        </div>
                        <div class="col-9">
                            {{quiz.info.passingScore}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <strong>Show Correct?</strong>
                        </div>
                        <div class="col-9">
                            {{quiz.info.showCorrect ? 'Yes' : 'No'}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <strong>Message on Success</strong>
                        </div>
                        <div class="col-9">
                            {{quiz.info.msgSuccess}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <strong>Message on Failure</strong>
                        </div>
                        <div class="col-9">
                            {{quiz.info.msgFailure}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-3"></div>

            <div class="card">
                <div class="card-header">
                    <h4 class="mt-2">Quiz Questions</h4>
                </div>
                <div class="card-body">
                    <!-- <ul class="list-group list-group-flush"> -->
                    <ng-container *ngFor="let q of quiz.questions">
                        <li class="list-group-item">{{q.question}}</li>
                    </ng-container>
                    <!-- </ul> -->
                    <div class="pt-4 pb-2">
                        <button class="btn btn-primary" [routerLink]="'/create-quiz/new-question'">Add a New
                            Question</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #noquiz>
            <div class="d-flex flex-column align-items-center text-center">
                <div class="row">
                    <h5 class="text-primary py-4">You have no quizzes being created!</h5>
                </div>
                <div class="row">
                    <button class="btn btn-custom" style="width: 200px" [routerLink]="'/create-quiz'">
                        Add a new quiz
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</app-create-quiz>