<app-create-quiz>
    <form class="py-5" [formGroup]="quesForm" (ngSubmit)="onSave()">
        <h1 class="text-center mb-4">Add a Question</h1>
        <div class="row my-4">
            <div class="col">
                <label for="questionId" class="form-label">Question<span class="text-primary">*</span></label>
                <input class="form-control" id="questionId" formControlName="question"
                    [ngClass]="{ 'is-invalid': formSubmitted && f['question'].errors }">
                <div *ngIf="formSubmitted && f['question'].errors" class="invalid-feedback">
                    <ng-container *ngIf="f['question'].errors['required']">Field is required</ng-container>
                    <ng-container *ngIf="f['question'].errors['maxLength']">Question must not exceed 250 characters
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-4">
                <div class="flex mb-3">
                    Select question type<span class="text-primary">*</span>
                </div>
                <div class="row d-flex flex">
                    <div class="col-sm-3 col-md-12 form-check me-4">
                        <input class="form-check-input" type="radio" name="questionType" id="singleChoice"
                            [checked]="questionType === 1" (change)="onChangeType(1)">
                        <label class="form-check-label" for="singleChoice">
                            Single Answer
                        </label>
                    </div>
                    <div class="col-sm-3 col-md-12 form-check me-4">
                        <input class="form-check-input" type="radio" name="questionType" id="multipleChoice"
                            [checked]="questionType === 2" (change)="onChangeType(2)">
                        <label class="form-check-label" for="multipleChoice">
                            Multiple Answers
                        </label>
                    </div>
                    <div class="col-sm-3 col-md-12 form-check">
                        <input class="form-check-input" type="radio" name="questionType" id="trueFalse"
                            [checked]="questionType === 3" (change)="onChangeType(3)">
                        <label class="form-check-label" for="trueFalse">
                            True or False
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-8 my-sm-4 my-md-0">
                <ng-container [ngSwitch]="questionType ">
                    <div *ngSwitchCase="1">
                        <div class="flex mb-3">
                            Type in answers and select the correct one<span class="text-primary">*</span>
                        </div>
                        <form [formGroup]="answersForm">
                            <ng-container *ngFor="let answer of answers; let idx = index;">
                                <div class="row">
                                    <div class="form-check my-1">
                                        <input class="form-check-input mt-2" type="radio" name="answers"
                                            id="answer{{idx}}" (change)="onChangeCorrect(idx)">
                                        <label class="form-check-label" for="answer{{idx}}">
                                            <div class="flex d-flex align-items-center">
                                                <input class="form-control" id="answer{{idx}}"
                                                    placeholder="Answer {{idx + 1}}..." formControlName="answer{{idx}}"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && af('answer' + idx).errors }">
                                                <label for="score{{idx}}" class="form-labe px-4">Score<span
                                                        class="text-primary">*</span></label>
                                                <input class="form-control" id="score{{idx}}" value="0"
                                                    formControlName="score{{idx}}">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </ng-container>
                        </form>
                        <div class="row my-2">
                            <div>
                                <button type="button" class="btn btn-link text-neutral-dark" (click)="onAddAnswer()">
                                    Add another answer.
                                </button>
                            </div>
                            <div data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="A question must have at least two answers">
                                <button type="button" class="btn btn-link text-neutral-dark" (click)="onRemoveAnswer()"
                                    [ngClass]="{ 'disabled': answers.length == 2}">
                                    Remove last answer.
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="2">
                        <div class="flex mb-3">
                            Type in answers and select the correct ones<span class="text-primary">*</span>
                        </div>
                        <form [formGroup]="answersForm">
                            <ng-container *ngFor="let answer of answers; let idx = index;">
                                <div class="row">
                                    <div class="form-check my-1">
                                        <input class="form-check-input mt-2" type="checkbox" name="answers"
                                            id="answer{{idx}}" (change)="onChangeCorrectMultiple(idx)">
                                        <label class="form-check-label" for="answer{{idx}}">
                                            <div class="flex d-flex align-items-center">
                                                <input class="form-control" id="answer{{idx}}"
                                                    placeholder="Answer {{idx + 1}}..." formControlName="answer{{idx}}"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && af('answer' + idx).errors }">
                                                <label for="score{{idx}}" class="form-labe px-4">Score<span
                                                        class="text-primary">*</span></label>
                                                <input class="form-control" id="score{{idx}}" value="0"
                                                    formControlName="score{{idx}}">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </ng-container>
                        </form>
                        <div class="row my-2">
                            <div>
                                <button type="button" class="btn btn-link text-neutral-dark" (click)="onAddAnswer()">
                                    Add another answer.
                                </button>
                            </div>
                            <div data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="A question must have at least two answers">
                                <button type="button" class="btn btn-link text-neutral-dark" (click)="onRemoveAnswer()"
                                    [ngClass]="{ 'disabled': answers.length == 2}">
                                    Remove last answer.
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="3">
                        <div class="flex mb-3">
                            Select the correct answer<span class="text-primary">*</span>
                        </div>
                        <form [formGroup]="answersForm">
                            <div class="form-check me-4">
                                <input class="form-check-input" type="radio" name="trueFalseAns" id="true"
                                    (change)="onChangeCorrect(0)">
                                <label class="form-check-label" for="true">
                                    True
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trueFalseAns" id="false"
                                    (change)="onChangeCorrect(1)">
                                <label class="form-check-label" for="false">
                                    False
                                </label>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-2 col-form-label">
                                    <label for="score" class="form-label">Score<span
                                            class="text-primary">*</span></label>
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" id="score" value="0" formControlName="score">
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-container>
                <ng-container *ngIf="formSubmitted && hasErrors">
                    <p class="text-primary">{{answersError}}</p>
                </ng-container>
            </div>
        </div>

        <div class="row my-4">
            <div class="form-text">
                Fields marked with a <span class="text-primary">*</span> are required.
            </div>
        </div>

        <div class="row my-4">
            <div>
                <button type="submit" class="btn btn-custom w-100" (click)="onSave()">Save Question</button>
            </div>
        </div>
    </form>
</app-create-quiz>